@import '../../setting';


.board-contents {
    display:flex;
    overflow-x: auto;
    overflow-y: hidden;
    &::after{
      content:"";
      flex: 0 0 $gap;
    }
    // margin:0 $gap $gap $gap;
    height:$board-content-height+1.5;
    &::-webkit-scrollbar{
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal{
      height: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($column-bg-color, 15);
      border-radius: 8px;
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
    .add-new-column {
      width: 250px;
      max-width: 250px;
      line-height: 40px;
      padding: 4px 0px 4px 15px;
      cursor: pointer;
      color: white;
      margin-left: $gap;
      font-size:15px;
      background-color:hsla(0, 0%, 100%, .24);
      // text-align: center;
      border-radius: $column-border-radius;
      &:hover {
        background-color:hsla(0, 0%, 100%, .40);
      }
    }
    .enter-new-column {
      width: 250px;
      max-width: 250px;
      background-color: $column-bg-color;
      line-height: 32px;
      padding: 4px 10px;
      border-radius: $column-border-radius;
      margin-left: $gap;

      .input-new-column {
        margin: 5px 0;
      }
      span.cancel-new-column {
        margin-left: $gap;
        i {
          font-size: 20px;
          color:$color-danger;
          cursor: pointer;
          &:hover {
            color: darken($color: $color-danger, $amount: 15);
          }
        }
      }
    }
  }