@import './setting';

body{
  margin: 0;
  font-size: 14px;
  line-height:1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.3em;
}

.trello-container {
  height: 100vh;
  background-color: $board-bg-color;
  overflow: hidden;
}